
h1{
    text-align: center;
    margin-bottom: 50px;
}

header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
section{
    background-color: aquamarine;
    display: flex;
    justify-content:space-around;
}
footer{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
}
.img-internet{
    background-color: rgb(63, 153, 63);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    margin: 10px;
    height: 250px;
    width: 250px;
}